<div *ngIf="item">
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-danger opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">Hello {{item.nom}} {{item.prenom}}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="javascript:void(0)">
                    <img [src]='retrievedImage' class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
    
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading"> {{item.pubs.length}}</span>
                      <span class="description">Publications</span>
                    </div>
                    <div>
                      <span class="heading"> {{item.pubs.length}}</span>
                      <span class="description">Evenements</span>
                    </div>
                    <div>
                      <span class="heading"> {{item.pubs.length}}</span>
                      <span class="description">Outils</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h3>
                  {{item.nom}} {{item.prenom}}<span class="font-weight-light">, {{item.dateNaissaice}}</span>
                </h3>
    
                <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>{{item.diplome}}
                </div>
                <div>
                  <i class="ni education_hat mr-2" *ngIf="item.role=='ROLE_Enseignant'">{{item.etablissement}}</i>
                </div>
                <hr class="my-4" />
    
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">New Publication confirmation</h3>
                </div>
                
              </div>
            </div>
            <div class="card-body">
              <h6 class="heading-small text-muted mb-4">Publication information</h6>
                <div class="pl-lg-4">
                  <div class="row">
    
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">titre </label>
                        <p>{{this.dataSource[this.dataSource.length-1].titre}}</p>
                    </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">lien</label>
                        <p>{{this.dataSource[this.dataSource.length-1].lien}}</p> 
                    </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-last-name">souce pdf</label>
                        <p>{{this.dataSource[this.dataSource.length-1].sourcePdf}}</p>  
                    </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4" />
                <!-- Address -->
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-address">Date Apparition</label>
                        <p>{{this.dataSource[this.dataSource.length-1].dateApparition}}</p>
                    </div>
                    </div>
                  </div>
                  
                  </div>
                <hr class="my-4" />
                <!-- Description -->
                <button type="button" class="btn btn-primary" (click)="Confirmer()">Confirmer</button>
                    <button type="button" class="btn btn-danger" (click)="Annuler()">Annuler</button>
                  
            
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    