<div *ngIf="item">
  <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <h1 class="display-2 text-white">Hello {{item.nom}} {{item.prenom}}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img [src]='retrievedImage' class="rounded-circle">
                </a>
              </div>
            </div>
          </div>
          <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">

          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="row">
              <div class="col">
                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                  <div>
                    <span class="heading"> {{item.pubs.length}}</span>
                    <span class="description">Publications</span>
                  </div>
                  <div>
                    <span class="heading">{{item.evenements.length}}</span>
                    <span class="description">Evenements</span>
                  </div>
                  <div>
                    <span class="heading">{{item.outils.length}}</span>
                    <span class="description">Outils</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <h3>
                {{item.nom}} {{item.prenom}}<span class="font-weight-light">, {{item.dateNaissaice}}</span>
              </h3>

              <div class="h5 mt-4">
                <i class="ni business_briefcase-24 mr-2"></i>{{item.diplome}}
              </div>
              <div>
                <i class="ni education_hat mr-2" *ngIf="item.role=='ROLE_Enseignant'">{{item.etablissement}}</i>
              </div>
              <hr class="my-4" />

            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">My account</h3>
              </div>
              <div class="col-4 text-right">
              </div>
            </div>
          </div>
          <div class="card-body">
            <form #editProfileForm="ngForm" (ngSubmit)="editProfileForm.valid && onSubmit(editProfileForm)">
              <h6 class="heading-small text-muted mb-4">User information</h6>
              <div class="pl-lg-4">
                <div class="row">

                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Adresse Email</label>
                      <input name="email" type="email" id="input-email" #email="ngModel" [(ngModel)]="item.email"
                        class="form-control form-control-alternative" value="{{item.email}}">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-first-name">Prenom</label>
                      <input name="prenom" type="text" id="input-first-name" #prenom="ngModel" [(ngModel)]="item.prenom"
                        class="form-control form-control-alternative" value="{{item.prenom}}">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-last-name">Nom</label>
                      <input name="nom" type="text" id="input-last-name" #nom="ngModel" [(ngModel)]="item.nom"
                        class="form-control form-control-alternative" value="{{item.nom}}">
                    </div>
                  </div>
                </div>
              </div>
              <img [src]="imageUrl" class="rounded-circle" width="150px" height="150px" alt="Image Review">

              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <label for="file">Select File </label>
                  <input type="file" id="file" accept="image/*" #photo="ngModel" [(ngModel)]="item.photo" hidden
                    name="photo" (change)="onSelectNewFile($event.target)" value="{{base64Data}}" />
                </div>
              </div>
              <hr class="my-4" />
              <!-- Address -->
              <h6 class="heading-small text-muted mb-4">Autres informations</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">CV</label>
                      <input name="cv" id="input-address" class="form-control form-control-alternative"
                        value="{{item.cv}}" type="text" #cv="ngModel" [(ngModel)]="item.cv">
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="item.role=='ROLE_Etudiant'">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Diplome</label>
                      <input name="diplome" id="input-address" class="form-control form-control-alternative"
                        #diplome="ngModel" [(ngModel)]="item.diplome" value="{{item.diplome}}" type="text">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Sujet </label>
                      <input name="sujet" id="input-address" class="form-control form-control-alternative"
                        #sujet="ngModel" [(ngModel)]="item.sujet" value="{{item.sujet}}" type="text">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Cin </label>
                      <input name="cin" id="input-address" class="form-control form-control-alternative" #cin="ngModel"
                        [(ngModel)]="item.cin" value="{{item.cin}}" type="text">
                    </div>
                  </div>
                  <div class="col-lg-6" *ngIf="item.role=='ROLE_Etudiant'">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Encadrant : </label>
                      <select name="encadrant" [(ngModel)]="item.encadrant" id="input-address"
                        class="form-control form-control-alternative">

                        <option selected="selected" value="{{user.id}}" *ngFor="let user of dataSource">{{user.nom}}
                          {{user.prenom}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6" *ngIf="item.role=='ROLE_Enseignant'">
                    <div class="form-group">
                      <label class="form-control-label" for="input-address">Etablissement </label>
                      <input name="etablissement" id="input-address" class="form-control form-control-alternative"
                        #etablissement="ngModel" [(ngModel)]="item.etablissement" value="{{item.etablissement}}"
                        type="text">
                    </div>
                  </div>
                </div>
                <!--Review Image-->

                <input name="role" id="input-address" #role="ngModel" [(ngModel)]="item.role"
                  class="form-control form-control-alternative" value="{{item.role}}" type="hidden">

                <input name="dateNaissance" id="input-address" #dateNaissance="ngModel" [(ngModel)]="item.dateNaissance"
                  class="form-control form-control-alternative" value="{{item.dateNaissance}}" type="hidden">
                <input name="password" id="input-address" #password="ngModel" [(ngModel)]="item.password"
                  class="form-control form-control-alternative" value="{{item.password}}" type="hidden">


              </div>
              <hr class="my-4" />
              <!-- Description -->
              <input type="submit" class="btn btn-danger" value="Modifier vos informations">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>