<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div *ngIf="isLoggedIn()">

        <div class="table-responsive">
          <button class="btn btn-icon btn-3 btn-primary" type="button" (click)="addPublication()">
            <span class="btn-inner--icon"><i class="ni ni-fat-add"></i></span>
            <span class="btn-inner--text">Ajouter</span>
          </button>
          <table class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Titre</th>
                <th scope="col">Lien</th>
                <th scope="col">Source Pdf</th>
                <th scope="col">dateApparition</th>
                <th scope="col">Action</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let publication of item.pubs">
                <th scope="row">
                  <div class="media align-items-center">

                    <div class="media-body">
                      <span class="mb-0 text-sm">{{publication.titre}}</span>
                    </div>
                  </div>
                </th>
                <td>
                  <i class="fa fa-link" aria-hidden="true"></i>
                  <a style="color:white" href="{{publication.lien}}" target="_blank"> Lien Source </a>
                </td>
                <td>

                  <i class="fa fa-file" aria-hidden="true"></i>
                  <a style="color:white" href="{{publication.sourcePdf}}" target="_blank"> Voir source </a>

                </td>
                <td>
                  {{publication.dateApparition|date}}
                </td>
                <td>
                  <button class="btn btn-icon btn-3 btn-primary" type="button"
                    (click)="editPublication(publication.id)">
                    <span class="btn-inner--icon"><i class="ni ni-settings"></i></span>
                    <span class="btn-inner--text">Editer</span>
                  </button>
                  <button class="btn btn-icon btn-3 btn-primary" type="button"
                    (click)="deletePublication(publication.id)">
                    <span class="btn-inner--icon"><i class="ni ni-basket"></i></span>
                    <span class="btn-inner--text">Supprimer</span>
                  </button>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>


      <div class="table-responsive">

        <table class="table align-items-center table-dark table-flush">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Titre</th>
              <th scope="col">Lien</th>
              <th scope="col">Source Pdf</th>
              <th scope="col">dateApparition</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let publication of dataSource">
              <th scope="row">
                <div class="media align-items-center">

                  <div class="media-body">
                    <span class="mb-0 text-sm">{{publication.titre}}</span>
                  </div>
                </div>
              </th>
              <td>
                <i class="fa fa-link" aria-hidden="true"></i>
                <a style="color:white" href="{{publication.lien}}" target="_blank"> Lien Source </a>
              </td>
              <td>

                <i class="fa fa-file" aria-hidden="true"></i>
                <a style="color:white" href="{{publication.sourcePdf}}" target="_blank"> Voir source </a>

              </td>
              <td>
                {{publication.dateApparition}}
              </td>


            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>