<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col-7">
                  <h5 class="card-title text-uppercase text-muted mb-0" style="font-size:11.5px">Publications</h5>
                  <span class="h2 font-weight-bold mb-0">{{dataSource.length}}</span>
                </div>
                <div class="col">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Membres</h5>
                  <span class="h2 font-weight-bold mb-0">{{dataSource.length}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Outils</h5>
                  <span class="h2 font-weight-bold mb-0">{{dataSourceOutils.length}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Evenements</h5>
                  <span class="h2 font-weight-bold mb-0">{{dataSourceEvents.length}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">

  <div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Membres</h3>
            </div>
            <div class="col text-right">
              <a routerLink="/users" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>
                <th scope="col">Email</th>
                <th scope="col">Type</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of dataSource1.slice(0, 5)">
                <th scope="row">
                  {{user.nom}} </th>
                <td>
                  {{user.prenom}} </td>
                <td>
                  {{user.email}} </td>
                <td>
                  {{user.role.split("ROLE_")[1]}}
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Evenements</h3>
            </div>
            <div class="col text-right">
              <a href="/#/evenements" class="btn btn-sm btn-primary">See all</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Nom evenement</th>
                <th scope="col">Lieu</th>
                <th scope="col">Date</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of dataSourceEvents.slice(0, 5)">
                <th scope="row">
                  {{user.titre}} </th>
                <td>
                  {{user.lieu}} </td>
                <td>
                  {{user.date|date}} </td>

              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>